.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: .4rem;
    background: linear-gradient(to right, #36db84, #0eb27b);
    padding: .05rem .1rem .05rem 0.12rem;
    z-index: 100;
    @include flexbox();
    @include align-content(space-between);
    @include justify-content(center);
    .area-btn {
        width: .5rem;
        span,
        i {
            line-height: .3rem;
            color: #fff;
            font-size: 14px;
        }
        .area-btn-i {
            background: url('../assets/images/arrow.png') no-repeat;
            width: .08rem;
            height: .04rem;
            position: relative;
            top: -.03rem;
            right: -.03rem;
            background-size: 100% 100%;
            display: inline-block;
        }
    }
    .classfy-ipt {
        @include flex(1);
        position: relative;
        padding: 0 .4rem 0 1.06rem;
        border-radius: .45rem;
        background: rgba(255, 255, 255, .2);
        span,
        i {
            line-height: .3rem;
        }
        .search-icon {
            position: absolute;
            left: 0.05rem;
            top: .03rem;
            width: .25rem;
            height: .25rem;
            background: url('../assets/images/search.png') no-repeat;
            background-size: 100% 100%;
        }
    }
}
